@import "colors.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    .container {
        .card {
            .photo {
                img {
                    
                }
            }
            .wrap {
                header {
                    h1 {}
                    .info {
                        .author {}
                        .datetime {}
                    }
                }
                .content {
                    .snippet {}
                    .btn {}
                }
                footer {
                    .likes {
                        .btn {}
                        .count {}
                    }
                    .dislikes {
                        .btn {}
                        .count {}
                    }
                }
            }
        }
    }
}