@import "colors.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

$size: 100px;

.container {
    .box {
        width: $size;
        height: $size;
        background: $color02;
        color: $color03;
        padding: 20px;
        font-size: 25px;
    }
}