@import "colors.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    
}

$size: 500px;

.container {
    width: $size;
    height: $size;
    border: 5px solid $color01;
    
    .box {
        background: $color02;
        color: $color03;
        padding: 20px;
        font-size: 25px;
    }
}